@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(212, 45%, 89%);;
  --foreground: #171717;
  --font-outfit: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(212, 45%, 89%);
    --foreground: #ededed;
    --font-outfit: 'Outfit', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit);
}
